.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
a {
  color:rgb(48, 47, 47) !important;
}
nav {
  width: 100%  ;
  letter-spacing: 2;
}